# Binaries
*.exe
*.dll
*.so
*.dylib

# Directories
bin/
dist/
tmp/

# OS
.DS_Store
.AppleDouble
.LSOverride

# Editor
.idea/

# Project Binaries
obsidian-mcp
obsidian-mcp-http
obsidian-mcp-arm
bulk-index
test-search
