services:
  qdrant:
    image: qdrant/qdrant
    container_name: obsidian-qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - obsidian_qdrant_data:/qdrant/storage
    restart: unless-stopped

  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped
    tty: true

volumes:
  obsidian_qdrant_data:
  ollama_data:
